// Body
$primary-bg-color:#DD674B;
$secondary-bg-color: #82BBA2;

// Typography
$font-family-krungthep: 'krungthep', sans-serif;
$font-family-lato:'lato', 'sans-serif';

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


//screens
$small: 480px;
$medium: 768px;
$large: 1024px;

//margins
$mb1: 1rem;
$mb2: 2rem;
$mt1-5: 1.5rem;
$mt2: 2rem;
$mt3: 3rem;
$mt5: 5rem;
$mb3: 3rem;
